extends ../layout.jade

block content
  .container
    center.panel
      h3
        i Hola MundoAngularJS!
      input(type="text" placeholder="Cual es su nombre?" ng-model="nombre")
      h2 Hola {{nombre}}!
