.container
  center#login(class="panel {{login.animation}}", ng-show="login.animation!=''")
    form(name="lform")
      input.form-control(type="text", placeholder=__('nombre de usuario'), ng-model="login.username")
      input.form-control(type="password", placeholder=__('contraseña'), ng-model="login.password")
      input.btn.btn-success.btn-xs(type="submit", value= __('Ingresar'), ng-click="login.do()")

