.container(ng-controller="ctrl.home as home")
  center(Class="panel {{home.ani}}", ng-show="home.ani!=''")
    h3
      i= __('Hola MundoAngularJS!')
    .input-group
      input.form-control(type="text" placeholder=__('Cual es su nombre?') ng-model="nombre")
    h2= __('Hola') + " {{nombre}}!"
