.container
  center(class="panel fx-fade-up", ng-show="home.animation!=''")
    h3
      i= __('<<< AngularJS! >>>')
    .input-group
      input.form-control(type="text" placeholder=__('Escribe algo') ng-model="texto")
      h2
        |<small>&gt;</small> {{texto}} <small>&lt;</small>
