
body
  color: #eea500
  background-color: #202020
  overflow: hidden


.panel , .navbar
  background-color: #2f2f2f
  border-color: #151515

input.form-control
  background-color: #232323
  border-color: #151515

#loading-bar .peg
  position: none
  height: 3px
  width: 100%
  -moz-box-shadow: #000 1px 0 6px 1px
  -ms-box-shadow: #000 1px 0 6px 1px
  -webkit-box-shadow: #000 1px 0 6px 1px
  box-shadow: #000 1px 0 6px 1px
  opacity: .65;

#loading-bar .bar
  background: #a30
  height: 3px

#loading-bar-spinner .spinner-icon
  width: 22px
  height: 22px
  border-top-color:  #540
  border-left-color: #540

