body {
  color: #eea500;
  background-color: #202020;
}
.panel,
.navbar {
  background-color: #2f2f2f;
  border-color: #151515;
}
input.form-control {
  background-color: #232323;
  border-color: #151515;
}
