doctype html
html(lang="es")
  head
    title= title
    //inject:css
    link(rel='stylesheet', href='/libs/bootstrap-css-only/css/bootstrap.css')
    link(rel='stylesheet', href='/libs/angular-loading-bar/build/loading-bar.css')
    link(rel='stylesheet', href='/css/main.css')
    //end inject
  body(ng-app="main", ng-controller="ctrl.main as main")
    include ../modules/header.jade
    block content
    include ../modules/footer.jade
    //inject:js
    script(src='/libs/angular/angular.js')
    script(src='/libs/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/libs/angular-ui-router/release/angular-ui-router.js')
    script(src='/libs/angular-animate/angular-animate.js')
    script(src='/libs/gsap/src/uncompressed/TweenMax.js')
    script(src='/libs/ngFx/dist/ngFx.js')
    script(src='/libs/angular-loading-bar/build/loading-bar.js')
    script(src='/libs/angular-resource/angular-resource.js')
    script(src='/js/app.js')
    script(src='/js/ctrl.animations.js')
    script(src='/js/ctrl.home.js')
    script(src='/js/ctrl.login.js')
    script(src='/js/ctrl.main.js')
    script(src='/js/routes.js')
    //end inject
