.navbar.navbar-default
  center
    table(width="95%")
      tr
        td(width="33%")
          h4= __('Plantilla MEAN')
        td(width="33%", align="center")
          .btn-group(role="group")
            button.btn.btn-primary.btn-xs(type="button", ng-click="main.backpage()") «
            button.btn.btn-primary.btn-xs(type="button", ng-repeat="state in main.states" ui-sref="{{state.name}}",
              ng-show="!main.state.is('{{state.name}}')") {{state.label}}
            button.btn.btn-primary.btn-xs(type="button", ng-click="main.nextpage()") »
        td(width="33%", align="right")
          img(src="img/wendy.jpg" height="32px")
