.navbar.navbar-default
  center
    table(width="95%")
      tr
        td(width="33%")
        td(width="33%", align="center")
          h4= __('Algún Titulo.')
        td(width="33%", align="right")
          img(src="img/wendy.jpg" height="32px")
